.container
  .main-body
    - @accounts.each do |account|
      .row.gutters-sm
        .col-md-4.mb-3
          .card
            .card-body
              .d-flex.flex-column.align-items-center.text-center
                %img.rounded-circle{alt: "Admin", src: "https://bootdey.com/img/Content/avatar/avatar7.png", width: "150"}/
                .mt-3
                  %h4
                    = link_to account.full_name, accounts_profile_path(account), style: 'text-decoration: none; color: black;'
                  = link_to "Edit Account", edit_accounts_profile_path(current_account), class: 'btn btn-outline-primary'
                  = link_to 'Impersonate', masquerade_path(account), class: 'btn btn-outline-primary'
                  = render partial: 'accounts/online', locals: {account: account}
        .col-md-8
          .card.mb-3
            .card-body
              .row
                .col-sm-3
                  %h6.mb-0 Full Name
                .col-sm-9.text-secondary
                  = account.full_name
              %hr/
              .row
                .col-sm-3
                  %h6.mb-0 Email
                .col-sm-9.text-secondary
                  = account.email
              %hr/
              .row
                .col-sm-3
                  %h6.mb-0 Interests
                .col-sm-9.text-secondary
                  #{raw account.interests.map(&:name).map { |t| t }.join(', ')}
          .stats
            %a{href: "#{following_accounts_profile_path(account)}", style: 'text-decoration: none;'}
              %strong#following.stat
                = account.friends.count
              Friends
            %a{href: "#{followers_accounts_profile_path(account)}", style: 'text-decoration: none;'}
              %strong#followers.stat
                = account.followers_without_friend.count
              Followers
    = link_to "Back to Main Page", root_path, class: 'float-right btn btn-secondary'
.pagination.justify-content-center
  = will_paginate @accounts
