.container
  .main-body
    .row.gutters-sm
      .col-md-4.mb-3
        .card
          .card-body
            .d-flex.flex-column.align-items-center.text-center
              %img.rounded-circle{alt: "Admin", src: "https://bootdey.com/img/Content/avatar/avatar7.png", width: "150"}/
              .mt-3
                %h4
                  = @account.full_name
                = link_to "Message", chat_messages_path, class: 'btn btn-outline-primary'
                = link_to "Edit Account", edit_account_profile_path(current_account), class: 'btn btn-outline-primary'
      .col-md-8
        .card.mb-3
          .card-body
            .row
              .col-sm-3
                %h6.mb-0 Full Name
              .col-sm-9.text-secondary
                = @account.full_name
            %hr/
            .row
              .col-sm-3
                %h6.mb-0 Email
              .col-sm-9.text-secondary
                = @account.email
        .col-md-13
          - unless @friends.empty?
            .card.my-5.py-3.bg-light.shadow
              %h2.center.pb-3.text-dark.border-bottom My Friends
              - @friends.each do |account|
                .d-flex.align-items-center.mb-2.border-bottom.py-2
                  .col-sm-9.text-secondary
                    = account.full_name
  = link_to "Back to Main Page", root_path, class: 'float-right btn btn-secondary'
