%h1
  = @chat.name
.row
  .col-12.col-md-3
    = render partial: 'rooms'
  .col
    .chat
      - @chat_messages.each do |chat_message|
        = chat_message
    = simple_form_for @chat_message, remote: true do |form|
      .input-group.mb-3
        = form.input :message, as: :string, |
           wrapper: false,                  |
          label: false,                     |
          input_html: {                     |
            class: 'chat-input'             |
          }                                 |
        .input-group-append
          = form.submit "Send", class: 'btn btn-primary chat-input'
          = form.input :room_id, as: :hidden
