.container
  .row
    .col-lg-6.mt-4
      %h2
        Edit Post #{link_to "Back to Main Page", root_path, class: 'float-right btn btn-secondary'}
      = form_for(@post, url: post_path(@post), html: { method: :patch }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-group.mb-3.is-valid
          = f.label :title
          = f.text_field :title, autofocus: true, class: 'form-control'
        .form-group.mb-3
          = f.label :content
          = f.text_field :content, autofocus: true, class: 'form-control'
        .form-group.mt-4
          = f.submit "Update", class: 'btn btn-success btn-lg'
