.container
  %h1.text-center Blog Posts
  %hr/
  .col-md-10
    - @posts.each do |post|
      .row
      .col-sm-12
        .panel.panel-white.post
          .post-heading
            .pull-left.image
              %img.img-circle.avatar{alt: "user profile image", src: "https://bootdey.com/img/Content/avatar/avatar1.png"}/
            .pull-left.meta
              .title.h5
                %a{href: account_profile_path(post.account)}
                  %b= post.account.full_name
                create post.
              %h6.text-muted.time #{time_ago_in_words(post.created_at)} ago
          .post-image
            = link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image?
          .post-description
            %h4.card-title= post.title
            %p.card-text= truncate(post.content, length: 60)
            .stats
              %a.btn.btn-default.like-button#like_button{id: post.id}
                %i.fa.fa-thumbs-up.icon#like_count{id: post.id}
                  = post.likes.count
              %a.btn.btn-default.dislike-button#dislike_button{id: post.id}
                %i.fa.fa-thumbs-down.icon#dislike_count{id: post.id}
                  = post.dislikes.count
              - if policy(post).edit?
                %a.btn.btn-default.stat-item{href: edit_post_path(post)}
                  %i.fa.fa-pencil.icon
          .post-footer
            - if policy(post).destroy?
              = link_to 'Delete', post_path(post), method: :delete, class: 'btn fa fa-times'

