.col-md-8.offset-2
  %h1.text-center New Post
  = simple_form_for @post, url: posts_path do |f|
    = f.input :title
    = f.input :content, class: "mb-4"
    .form-group
    = f.fields_for :tags do |tf|
      = tf.label :name, "Tags"
      = tf.text_field :name, id: "tag-autocomplete", class: "form-control"
    = f.label :name, 'Post it now or later?'
    .mt-1
      = f.select :status, ['Publish write now', 'Publish via'], selected: status_for(@post)
    .published-field
      = f.datetime_select :published_at, discard_year: true, discard_month: true
    = f.file_field :image, class: "inputfile", id: "file"
    %label{for: "file"} Choose a file
    .mt-3
      = f.submit "Create Post", class: 'btn btn-lg btn-primary float-right'
