= render partial: 'public/menu', locals: { current_page: :resent_activity }
.container
  .main-body
    %h2.text-center.mb-4 Recent Activity
    - if @activities.empty?
      %h5 There are no recent activity
    - else
    - @activities.each do |activity|
      %ul.mail_list.list-group.list-unstyled
      %li.list-group-item
        %small.lead
          %p{style: 'color: black; text-decoration: none;'}
            - if activity.trackable_type == 'Like'
              = link_to activity.owner.full_name, accounts_profile_path(activity.owner), {style: 'color: black; text-decoration: none;'} if activity.owner
              = "#{time_ago_in_words(activity.created_at)} liked"
              = link_to 'Post', posts_path(activity.trackable), style: 'text-decoration: none;'
              %br
            - elsif activity.trackable_type == 'Post'
              = link_to activity.owner.full_name, accounts_profile_path(activity.owner), {style: 'color: black; text-decoration: none;'} if activity.owner
              = "#{time_ago_in_words(activity.created_at)} ago created"
              = link_to 'Post', posts_path(activity.trackable), style: 'text-decoration: none; margin-left: 7px'
              %br
            - elsif activity.trackable_type == 'Comment'
              = link_to activity.owner.full_name, accounts_profile_path(activity.owner), {style: 'color: black; text-decoration: none;'} if activity.owner
              = "#{time_ago_in_words(activity.created_at)} ago added comment to"
              = link_to 'Post', posts_path(activity.trackable), style: 'text-decoration: none; margin-left: 7px'
.pagination.justify-content-center
  = will_paginate @activities
