.container
  %p
    Press #{link_to 'here', search_posts_path} to search for posts.
  .row.justify-content-md-center
    .col.col-lg-2
      #v-pills-tab.nav.flex-column.nav-pills.me-3{"aria-orientation" => "vertical", role: "tablist"}
        %button#v-pills-home-tab.nav-link.active{"aria-controls" => "v-pills-home", "aria-selected" => "true", "data-bs-target" => "#v-pills-home", "data-bs-toggle" => "pill", role: "tab", type: "button"} All
        %button#v-pills-profile-tab.nav-link{"aria-controls" => "v-pills-profile", "aria-selected" => "false", "data-bs-target" => "#v-pills-profile", "data-bs-toggle" => "pill", role: "tab", type: "button"} Recent
        %button#v-pills-messages-tab.nav-link{"aria-controls" => "v-pills-messages", "aria-selected" => "false", "data-bs-target" => "#v-pills-messages", "data-bs-toggle" => "pill", role: "tab", type: "button"} Oldest
        %button#v-pills-settings-tab.nav-link{"aria-controls" => "v-pills-settings", "aria-selected" => "false", "data-bs-target" => "#v-pills-settings", "data-bs-toggle" => "pill", role: "tab", type: "button"} Search last posts
    #v-pills-tabContent.tab-content.col.col-lg-10
      #v-pills-home.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-home-tab", role: "tabpanel"}
        = render 'posts_detalies', posts: @posts
      #v-pills-profile.tab-pane.fade{"aria-labelledby" => "v-pills-profile-tab", role: "tabpanel"}
        = render 'posts_detalies', recent_post: @recent_posts
      #v-pills-messages.tab-pane.fade{"aria-labelledby" => "v-pills-messages-tab", role: "tabpanel"}
        = render 'posts_detalies', oldest_post: @oldest_posts
      #v-pills-settings.tab-pane.fade{"aria-labelledby" => "v-pills-settings-tab", role: "tabpanel"}
        = render 'posts_detalies', search_last_post: @search_last_posts
