- if account_signed_in?
  %nav
  #nav-tab.nav.nav-tabs{role: "tablist"}
    %button#nav-posts-tab.nav-link.active{"aria-controls" => "nav-posts", "aria-selected" => "true", "data-bs-target" => "#nav-posts", "data-bs-toggle" => "tab", role: "tab", type: "button"} Posts
    %button#nav-friends-posts-tab.nav-link{"aria-controls" => "nav-friends-posts", "aria-selected" => "false", "data-bs-target" => "#nav-friends-posts", "data-bs-toggle" => "tab", role: "tab", type: "button"} My Friends Posts
    %button#nav-activity-tab.nav-link{"aria-controls" => "nav-activity", "aria-selected" => "false", "data-bs-target" => "#nav-activity", "data-bs-toggle" => "tab", role: "tab", type: "button"} Resent Activity
    %button#nav-friends-tab.nav-link{"aria-controls" => "nav-friends", "aria-selected" => "false", "data-bs-target" => "#nav-friends", "data-bs-toggle" => "tab", role: "tab", type: "button"} Find Friends

  #nav-tabContent.tab-content
    #nav-posts.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", role: "tabpanel"}
      = render 'posts', posts: @posts
    #nav-friends-posts.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", role: "tabpanel"}
      = render 'posts', posts: @friends_posts
    #nav-activity.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", role: "tabpanel"}
      = render 'activities', activities: @activities, likes: @likes
    #nav-friends.tab-pane.fade{"aria-labelledby" => "nav-friends-tab", role: "tabpanel"}
      = render 'possibile_friends', possibile_friends: @possibile_friends, account: current_account
- else
  = render 'public/home'

