- if account_signed_in?
  %h2.text-center Who do you want To have Friends?
  .container.col-md-8
    - unless @pending_request.empty?
      .card.my-5.py-3.bg-light.shadow
        %h2.center.pb-3.text-dark.border-bottom Sent Friend Requests
        - @pending_request.each do |account|
          .d-flex.align-items-center.mb-2.border-bottom.py-2
            .col-auto.p-0.pl-5.text-capitalize
              = link_to account_profiles_path(account) do
                = account.full_name
            .col-auto.p-0.px-1 |
              .col-auto.p-0
              %button.btn.btn-secondary.shadow{disabled: "disabled"}
                Friend Request pending...
          %br/
          %br/
    - unless @friend_requests.empty?
      .card.my-5.py-3.bg-light.shadow
        %h2.center.pb-3.text-dark.border-bottom Pending Friend Requests
        - @friend_requests.each do |account|
          .d-flex.align-items-center.mb-2.border-bottom.py-2
            .text-capitalize
              = link_to account_profiles_path(account) do
                = account.full_name
            .col-auto.p-0.px-1 |
              .col-auto.p-0
              %button.btn.btn-pending.shadow{"data-target" => "#decisionModal", "data-toggle" => "modal"}
                Pending Friend Request...
          = render 'friendships/decisionModal', object: account
          %br/
          %br/
    .card.my-5.py-3.bg-light.shadow
      %h2.center.pb-3.text-dark.border-bottom Other Users
      - @accounts.each do |account|
        - unless possible_friend?(account)
          .d-flex.align-items-center.mb-2.border-bottom.pb-2
            %h4.text-dark.border-bottom
              = link_to account_profile_path(account) do
                = account.full_name
            .col-auto.p-0.px-1 |
              .col-auto.p-0
              = button_to 'Add to Friends', account_friendships_path(account_id: account.id), method: :post, class: 'btn btn-shadow'
          %br/
          %br/
- else
  = render 'public/home'

